*{border: 2px white solid}

body{
  
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

main{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}
section{
    display:flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
}

div {display: flex;
flex-direction: column;}
#respuesta{
display:flex;
flex-direction: column;


}
label {
    padding:40px 80px;
    border:1px black solid;
}
label::content {
    background-color: brown;
}
input:checked {

    background-color: greenyellow;
}
input{
    
    margin: 40px;
}
#inciarJuego{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
display:none;
    background-color: hsl(329, 95%, 43%);
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;

}
.label{
    width: 500px;
    height: 100px;
    background-color: #D1512D;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 3px solid #F5E8E4;
    border-radius: 20px;
    display: flex;
    color: #F5E8E4;
    justify-content: center;
    flex-direction: row-reverse;

}





#btn-answer :hover{
     background-color: rgb(225, 16, 141);
     box-shadow: 10px 0px 10px rgb(110, 6, 69) inset;
     border-radius: 10px;
     cursor: pointer;
}

.contBotonCorregir{
    display: flex;
    margin: 20px;
}

#botonSubmit{
  
    width: 300px;
    height: 60px;
    border-radius: 10px;
    background-color: rgb(7, 110, 19);
    margin-bottom: 50px;
    font-size: 20px;
    margin-top: 100px;
    box-shadow: 0px 10px 10px 0px rgb(242, 242, 244);
}

.title-question {
    font-size: 2rem;
}
.btn-answer{
    border: 12px black solid;
    border-radius: 4px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#btn-next {
    font-size: 16px;
    font-weight: 100px;
    background-color: black;
    color:white;
    padding:12px 48px;
    border:0px black solid;
    border-radius: 4px;
   
}