* {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

body {
    margin:40px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    visibility: hidden;
}

#inciarJuego {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    main {
        margin: 40px auto;
    }

    #respuesta {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 80%;
    }

    #pregunta {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 12%;
    }

    label {
        width: 100%;
        height: 100%;
        padding-top: 70px;
    }

    div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background-color: rgba(241, 243, 244, 0.5);
        text-align: center;
        align-items: center;
        width: 98%;
        height: 28%;
        margin: 10px;
    }

    #quiz {
       
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }
}



@media only screen and (max-width: 2400px) {
  

    #respuesta {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 80%;
    }

    #pregunta {
        display: flex;
        flex-direction: column;
        width: 98%;
        height: 12%;
    }

    label {
        width: 100%;
        height: 100%;
        padding-top: 70px;
    }

    div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background-color: rgba(241, 243, 244, 0.5);
        text-align: center;
        align-items: center;
        width: 98%;
        height: 28%;
        margin: 10px;
    }

    #quiz {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }

}




#btn-next {
    font-size: 16px;
    font-weight: 100px;
    background-color: black;
    color: white;
    padding: 12px 48px;
    border: 0px black solid;
    border-radius: 4px;

}